Source/GeneticProgramming/GeneticProgramming.Core/Service References/GPService/GPService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3571/GPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GeneticProgramming.Data.Statistics" />
  <xs:import schemaLocation="http://localhost:3571/GPService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GeneticProgramming.Data.Contracts" />
  <xs:element name="GetPopulationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="populationNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPopulationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GeneticProgramming.Data.Statistics" minOccurs="0" name="GetPopulationInfoResult" nillable="true" type="q1:PopulationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPopulation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPopulationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Init">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initializatorName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndividual">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndividualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GeneticProgramming.Data.Contracts" minOccurs="0" name="GetIndividualResult" nillable="true" type="q2:ProgramEnvelope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificIndividual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="populationNumber" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfIndividual" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificIndividualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GeneticProgramming.Data.Contracts" minOccurs="0" name="GetSpecificIndividualResult" nillable="true" type="q3:ProgramEnvelope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GeneticProgramming.Data.Contracts" minOccurs="0" name="GetBasicInfoResult" nillable="true" type="q4:BasicInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFitnessInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="populationNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFitnessInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GeneticProgramming.Data.Contracts" minOccurs="0" name="GetFitnessInfoResult" nillable="true" type="q5:FitnessInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateIndividual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GeneticProgramming.Data.Contracts" minOccurs="0" name="results" nillable="true" type="q6:IndividualEvaluationResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateIndividualResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataWithResults">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataWithResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GeneticProgramming.Data.Contracts" minOccurs="0" name="GetMetadataWithResultsResult" nillable="true" type="q7:ArrayOfMetadataWithResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestResults">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBestResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GeneticProgramming.Data.Contracts" minOccurs="0" name="GetBestResultsResult" nillable="true" type="q8:ArrayOfBestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>